/* 基础布局设置 */
*{
    margin:0;
    padding: 0;
    font-family: Microsoft YaHei;
}

/* footer{
    background: linear-gradient(to right, #9c27b0, #8ecdff);
} */

/* 首页 */
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}
nav{
    width: 80%;
    position: sticky;
    margin: 3vh auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 16vw; /*不确定多大好，看logo到时候实际大小*/
    transform: translateX(-30%);
}
.nav-links{
    color: #fff;
    flex: 1;
    text-align: right;
    text-decoration: none;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2vw;
}
.nav-links:hover {
    color:#c04f4f;
    transition: all 0.3s ease;
}
.info{
    width: 60vw;
    height: 130vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* background: #fff; */
}
#circle{
    width: 60vw;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #ccc;
}
.feature img{
    width: 4.3vw;
}
.feature{
    position: absolute;
    /* display: flex; */
    color: black;
}
 /* .feature div{
    margin-left: 1.8vw;
} */
.featureline{
    width: 12.6vw;
}
.one{
    top: 54vh;
    right: 0.2vw
}
.two{
    top: 18vh;
    left: 21vw
}
.three{
    bottom: 54vh;
    left: 3vw
}
.four{
    bottom: 18vh;
    right: 21vw
}
.content0 {
    width: 35vw;
    position: absolute;
    top: 45%;
    left: 22%;
    transform: translateY(-50%);
    z-index: 1;
}
.content0 h1{
    font-size: 4vw;
}
    #dynamic-text {
    color: #A52A2A; 
    font-weight: bold;
  }
    .cursor {
    display: inline-block;
    width: 1em; 
    height: 1.2em; 
    border-left: 0.18vw solid rgb(0, 0, 0);
    margin-left: 0.36vw; 
    vertical-align: bottom
  }
.fakenumber {
    width: 27vw;
    position: absolute;
    top: 40%;
    left: 105%;
}
.bullshit {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: center
  }
.bullshitnumber {
    color: #d4232f;
    font-size: 1.5rem;
    text-align: center
  }
.littleshit {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    text-align: center;
    margin: 0.7rem 0 0 0;
}
hr {
    margin: 1.5rem 0;
    border: 1.5px solid #ccc;
  }

/* 服务 */
.service {
    width: 100%;
    min-height: 80vh; 
    position: relative;
    overflow: hidden;
    background: #e3edf7;
    box-sizing: border-box;
}
.accordion {
    margin: 7.2vh auto;
    width: 70vw;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255,0.7);
}
.accordion li .biglabel{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.biglabel::before{
    content:'+';
    margin-right:10px;
    font-size: 24px;
    font-weight: 600;
}
input[type="checkbox"]{
    display: none;
}
.accordion .content{
    color:#555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="checkbox"]:checked +label +.content{
    max-height: 4000px;
    padding:10px 10px 20px;
}
.accordion input[type="checkbox"]:checked +label::before{
    content: '-';
}

/* 详细服务 */
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flexbox {
    width: 16vw;
    margin: 0.5vw;
    padding: 0.25vw;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255,0.7);
}
.fleximg {
    text-align: center;
}
.fleximg img{
    width: 20%;
    margin-top: 1.5vh;
}
.flexh1{
    text-align: center;
    font-size: 1.5vw;
    color: black;
    margin-top: 2vh;
    font-weight: bold;
}
.flexdes{
    text-align: center;
    color: black;
    margin-top: 0.5vh;
}
.flexbut{
    text-align: center;
}
.enter{
    position: relative;
    width: 50px;
    padding: 7.5px 0;
    margin: 2vh 0 1vh 0;
    font-weight: bold;
    font-size: 1vw;
    border: 1px;
    color:black;
    background-color: #c2dcf2;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 4px;
}

/* modal box界面 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px ;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
  }
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    align-content: space-between;
    align-items: center;
  }
  .modal-header .one{
    flex:1
  }
  .modal-header .title {
    font-size: 1.25rem;
    display: inline;
    text-align: center;
    flex:10;
    padding: 10px 15px;
    color:black
  }
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    flex:1
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 9;
  }
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
.next{
    margin: 10px 250px 30px 250px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    color: white;
}

  /* radio */
.modal-body {
    padding: 20px 15px 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modal-radio-group{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px
}
.input-container {
    position: relative;
    height: 9rem;
    width: 14rem;
    margin: 0.5rem;
  }
.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 20;
    left:0;
    opacity: 0;
  }
.input-container .radio-tile {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    border: 3px solid  grey;
    border-radius: 8px;
    transition: all 300ms ease;
  }
.input-container label {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 10% ;
    left:10%;
    max-width: 6rem;
  }
.input-container .price{
    position: absolute;
    top:10% ;
    right:10%;
}
.input-container .radio-des{
    position: absolute;
    top:50% ;
    left:20%;
}
input:hover+.radio-tile {
    box-shadow: 0 0 12px grey;
  }
input:checked+.radio-tile {
    background-color: white;
    box-shadow: 0 0 12px grey;
    transform: scale(1.1);
    border: 3px solid  RGB( 49,137,239);
  }
